.simple-form {
    margin: auto;
    width: 30%;
}

.point {
    border: solid 1px lightgray;
    padding: 5px;
}

.point-img {
    max-width: 100%;
    margin-bottom: 5px;
}

.btn {
    margin-top: 10px;
    margin-bottom: 10px;
}

.error {
    color: red;
    text-align: center;
}

.journey-div {
    background-color: #f4f4f4;
    margin: 10px;
}

.journey-image {
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover; 
}

.journey-read-more {
    background: none;
    border: none;
    width: 100%;
    font-size: 20;
    background-color: #e0e0e0;
    color: white;
}

.journey-read-more:focus {
    outline: none;
}

.journey-read-more:hover {
    background-color: #e5e5e5;
}

.journey-description {
    height: 100px;
}

.paragraph {
    padding: 10px;
    margin: 0 100 0 100;
}

.paragraph-1 {
    border-radius: 10px 10px 0 0;
    border: solid 1px lightgray;
}

.paragraph-1 h1 {
    margin: -10px -10px 0 -10px;
    border-radius: 10px 10px 0 0; 
    padding: 5px;   
}

.paragraph-2 {
    border: solid 1px lightgray;
}

.paragraph-3 {
    border-radius: 0 0 10px 10px;
    border: solid 1px lightgray;
    margin-bottom: 50px;
}

.point-img img {
    max-width: 100%;
    max-height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.point-info h2 {
    margin: -10px -10px 0 -10px;
    padding: 5px;
}

.user-table {
    cursor: pointer;
}

.user-table:hover {
    text-decoration: underline;
}

.journey-edit {
    background: none;
    border: none;
    width: 100%;
    font-size: 20;
    background-color: #009688;
    color: white;
}

.journey-edit:focus {
    outline: none;
}

.journey-edit:hover {
    background-color: #03ab9b;
}