{{{htmlData.head}}}
<body>
{{{htmlData.navbar}}}

<div id="main-content">
    {{{data.errors}}}
    <div class="simple-form" id="formContainer">
	<form action="" method="post">
        <div>
            <label class="field" for="oldPassword">Old password</label>
            <input type="password" id="oldPassword" name="oldPassword" class="form-control input-sm" required="true" value="">
        </div>
        <div>
            <label class="field" for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control input-sm" required="true" value="">
        </div>
        <div>
        <label class="field" for="repeatPassword">Repeat password</label>
        <input type="password" id="repeatPassword" name="repeatPassword" class="form-control input-sm" required="true" value="">
    </div>
        <input type="submit" class="submit btn btn-success" name="submit" value="Save">
    </form>
    </div>
</div>

</body>