{{{htmlData.head}}}
<body>
{{{htmlData.navbar}}}

<div class="search-bar">
    <form action="javascript:search();" id="search-form">
        <input type="text" id="from-location" name="form-control from-location" class="search-input from-search-input" autocomplete="off" placeholder="I want to travel from" required="true" value="">
        <input type="text" id="to-location" name="form-control to-location" class="search-input to-search-input" autocomplete="off" placeholder="to" value="">
        <input type="submit" style="visibility: hidden;" />
    </form>
</div>
<div id="main-content">
{{#each data}}
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="journey-div">
            {{{this.image}}}
            <h2 class="journey-user">{{this.user}}</h2>
            <p class="journey-description">{{this.description}}</p>
            {{{this.button}}}
        </div>
    </div>
{{/each}}
</div>
<div id="load-more-button"><button class="next-page" onclick="loadMore()">Load more</button></div>

<script>
    {{{time}}}
    var searchData = {};
    var journeysPerPage = 12;

    function displayJourneys(data, empty) {
        var mainDiv = document.getElementById('main-content');
        if (empty) {
            mainDiv.innerHTML = '';
        }
        if (data.length === 0) {
            mainDiv.innerHTML = '<div class="message">Couldn\'t find anything.</div>';
            return;
        }
        data.forEach((journey) => {
            var temp = '<div class="col-md-4 col-sm-6 col-xs-12">' +
            '<div class="journey-div">';
            if (journey.image !== false && journey.image !== 'false') {
                temp += `<div class="journey-image" style="background-image: url('${journey.image}')"></div>`;
            } else {
                temp += `<div class="journey-image" style="background-image: url('../public/noimg.png')"></div>`;
            }
            temp += `<h2 class="journey-user">${journey.user}</h2>` +
            `<p class="journey-description">${journey.description}</p>` +
            `<button class="journey-read-more" onclick="window.location.href='./journey/${journey._id}'">Read more</button>` +
            `</div></div>`;
            mainDiv.innerHTML += temp;
        });
    }

    function search() {
        searchData = {
            from: document.getElementById('from-location').value,
            to: document.getElementById('to-location').value,
            time: false,
        }
        document.getElementById('load-more-button').innerHTML = '<button class="next-page" onclick="loadMoreSearchResults()">Load more</button>';
         $.get("/search", searchData, function(result) {
                if (result.length !== 0 && result !== false) {
                    displayJourneys(result, true);
                    var date = new Date(result[result.length - 1].date);
                    searchData.time = date.toISOString();
                } else {
                    document.getElementById('main-content').innerHTML = '<div class="message">Couldn\'t find anything.</div>';
                    document.getElementById('load-more-button').innerHTML = '';
                }
            });   
    }
    
    function loadMoreSearchResults() {
        $.get("/nextSearchPage", searchData, function(result) {
            if (!result) {
                document.getElementById('load-more-button').innerHTML = '';
            } else if (result.length < journeysPerPage) {
                displayJourneys(result, false);
                document.getElementById('load-more-button').innerHTML = '';
            } else {
                displayJourneys(result, false);
                var date = new Date(result[result.length - 1].date);
                searchData.time = date.toISOString();
            }
        });
    }

    function loadMore() {
         $.get("/nextPage", {time: time.toISOString()}, function(result) {
             if (!result) {
                  document.getElementById('load-more-button').innerHTML = '';
             } else if (result.length < journeysPerPage) {
                 displayJourneys(result, false);
                 document.getElementById('load-more-button').innerHTML = '';
             } else {
                 displayJourneys(result, false);
                 time = new Date(result[result.length - 1].date);
             }
        });   
    }
    
</script>

</body>
</html>