{{{htmlData.head}}}
<body>
{{{htmlData.navbar}}}

<div id="main-content">
    {{{data.errors}}}
    <div class="simple-form" id="formContainer">
	<form action="" method="post">
            <div>
                <label class="field" for="email">Email</label>
                {{{data.email}}}
            </div>
             <div>
                <label class="field" for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control input-sm" required="true" value="">
            </div>
            <input type="submit" class="submit btn btn-success" name="submit" value="Login">
     </form>
     </div>
</div>

</body>