{{{htmlData.head}}}
<body>
{{{htmlData.navbar}}}

<div id="main-content">
    {{{data.errors}}}
    <div class="simple-form" id="formContainer">
	<form action="" method="post">
            <div>
                <label>Name</label>
                {{{data.name}}}
            </div>
            <div>
                <label>Email</label>
                {{{data.email}}}
            </div>
             <div>
                <label>Password</label>
                <input type="password" id="password" name="password" class="form-control input-sm" required="true" value="">
            </div>
            <div>
                <label>Repeat password</label>
                <input type="password" id="repeatPassword" name="repeatPassword" class="form-control input-sm" required="true" value="">
            </div>
            <input type="submit" class="submit btn btn-success" name="submit" value="Register">
    </form>
    </div>
</div>
</body>
</html>