{{{htmlData.head}}}
<body>
{{{htmlData.navbar}}}

<div id="main-content">
    <div id="errors" class="error"></div>
    <table class="table">
        <thead>
        <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
            {{#each usersList}}
                {{{this}}}
            {{/each}}
        </tbody>
    </table>
</div>

<script>

    function clearErrors() {
        document.getElementById('errors').innerHTML = '';
    }
    
    function block(email, user) {
        clearErrors();
        $.post("/block", {email: email}, function(result) {
            if (result) {
                var element = document.getElementById(user);
                element.innerHTML = 'Unblock';
                element.removeAttribute('onclick');
                element.onclick = function() { 
                    unblock(email, user); } ;
            }
        });
    }

    function unblock(email, user) {
        clearErrors();
        $.post("/unblock", {email: email}, function(result) {
             if (result) {
                var element = document.getElementById(user);
                element.innerHTML = 'Block';
                element.removeAttribute('onclick');
                element.onclick = function() {
                    block(email, user); } ;
            }
        });
    } 
    
</script>
</body>
</html>