{{{htmlData.head}}}
<body>
{{{htmlData.navbar}}}


<div id="main-content">
    <div id="errors" class="error"></div>
    <div class="simple-form" id="formContainer">
	<form action="javascript:submit();" id="journey-form">
        <div>
            <label class="field" for="Name">Name</label>
            <input type="text" id="name" name="name" class="form-control input-sm" required="true" value="">
            </div>
         <div>
                <label class="field" for="description">Description</label>
                <textarea id="description" name="description" rows="15" class="form-control input-sm" required="true"></textarea>
            </div>

            <div id="journey-points">
                <label>Journey points</label>
            </div>
            
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#journeyPointModal">Add</button>

            <div>
                <label class="field" for="summary">Summary</label>
                <textarea id="summary" name="summary" rows="15" class="form-control input-sm" required="true"></textarea>
            </div>

            <input type="submit" class="submit btn btn-success" name="submit" value="Save">
    </form>

            <div class="modal fade" id="journeyPointModal" tabindex="-1" role="dialog" aria-labelledby="journeyPointModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <form action="javascript:addNewJourneyPoint();">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="journeyPointModalLabel">Add journey point</h4>
                </div>
                
                <div class="modal-body">
                    <div id="point-errors" class="error"></div>
                    <input type="hidden" id="pointId" name="pointId" class="form-control input-sm" value="">
                    <div>
                        <label>Name</label>
                        <input type="text" id="pointName" name="pointName" class="form-control input-sm" required="true" value="">
                    </div>
                    <div>
                        <label>Journey point description</label>
                        <textarea id="pointDescription" name="pointDescription" rows="5" class="form-control input-sm" required="true"></textarea>
                    </div>
                    <div>
                        <label>Image url</label>
                        <input type="URL" id="image" name="image" class="form-control input-sm" value="">
                    </div>
                    <label>Select location</label>
                    <div id="map" class="map">

                    </div>

                </div>
                
                <div class="modal-footer">
                    <input type="submit" class="submit btn btn-success" name="submit" value="Add">
                    <button type="button" onclick="clearModal()" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
                </form>
                </div>
            </div>
            </div>


    </div>
</div>

<script>

    var id = 0;
    var pointsCount = 0;
    var latlng = null;

    function clearErrors() {
        document.getElementById('errors').innerHTML = '';
    }

    function clearModal() {
        document.getElementById('pointName').value = "";
        document.getElementById('pointDescription').value = "";
        document.getElementById('image').value = "";
        document.getElementById('point-errors').innerHTML = "";
        document.getElementById('pointId').value = "";
        initMap();
    }

    function generateHtmlPoint(point) {
        var html = '';
        html += `<label class="field">Name</label>` +
        `<input class="point-name" type="hidden" name="pointName" class="form-control input-sm" value="${point.name}">` +
        `<div clas="point-div">${point.name}</div>` +
        `<label class="field">Description</label>` +
        `<input class="point-description" type="hidden" name="pointDescription" class="form-control input-sm" value="${point.description}">` +
        `<div clas="point-div">${point.description}</div>`;
        if (point.image) {
            html += `<label class="field">Image</label>` +
        `<input class="point-image" type="hidden" name="image" class="form-control input-sm" value="${point.image}">` +
        `<img class="point-img" src="${point.image}" alt="image">`;
        } else {
             html += `<input class="point-image" type="hidden" name="image" class="form-control input-sm" value="${point.image}">`;
        }
        html += `<button type="button" class="btn btn-default" onclick="edit('${point.id}', '${point.name}',` +
        `'${point.description}', '${point.image}', ${latlng.lat}, ${latlng.lng})">Edit</button>`;
        html += `<button type="button" class="btn btn-default" onclick="remove('${point.id}')">Remove</button>`;
        html += `<input class="point-lat" type="hidden" name="lat" class="form-control input-sm" value="${latlng.lat}">`;
        html += `<input class="point-lng" type="hidden" name="lng" class="form-control input-sm" value="${latlng.lng}">`;
        if (point.update) {
            document.getElementById(point.id).innerHTML = html;
        } else {
            document.getElementById('journey-points').innerHTML += `<div id="${point.id}" class="point">` +
            html + '</div>';
            pointsCount++;
        }
    }

    function addNewJourneyPoint() {
        clearErrors();
        if (!latlng) {
            document.getElementById('point-errors').innerHTML = 'Select location.';
            return;
        }
        var point = {};
        point.name =  document.getElementById('pointName').value;
        point.description = document.getElementById('pointDescription').value;
        point.image = document.getElementById('image').value;
        if (!point.image) {
            point.image = false;
        }
        if (document.getElementById('pointId').value) {
            point.id = document.getElementById('pointId').value;
            point.update = true;
        } else {
            point.id = `point-${id++}`;
        }
        generateHtmlPoint(point);
        latlng = null;
        $('#journeyPointModal').modal('hide');
        clearModal();
    }

    function edit(id, name, description, image, lat, lng) {
        document.getElementById('pointId').value = id;
        document.getElementById('pointName').value = name;
        document.getElementById('pointDescription').value = description;
        if (image !== 'false') {
            document.getElementById('image').value = image;
        }
        $('#journeyPointModal').modal('show');
        initMap({lat, lng});
    }

    function remove(pointId) {
        var node = document.getElementById(pointId);
        node.parentNode.removeChild(node);
        pointsCount--;
    }

    function getData() {
        var data = {};
        var names = document.getElementsByClassName('point-name');
        names  = [].map.call(names, function(name) {
            return name.value;
        });
        var descriptions = document.getElementsByClassName('point-description');
        descriptions  = [].map.call(descriptions, function(description) {
            return description.value;
        });
        var images = document.getElementsByClassName('point-image');
        images  = [].map.call(images, function(image) {
            return image.value;
        });
        var lat = document.getElementsByClassName('point-lat');
        lat  = [].map.call(lat, function(lat) {
            return lat.value;
        });
        var lng = document.getElementsByClassName('point-lng');
        lng  = [].map.call(lng, function(lng) {
            return lng.value;
        });
        data.name = document.getElementById('name').value;
        data.description = document.getElementById('description').value;
        data.summary = document.getElementById('summary').value;
        data.names = names;
        data.descriptions = descriptions;
        data.images = images;
        data.lat = lat;
        data.lng = lng;
        return data;
    }

    function submit() {
        if (pointsCount > 0) {
            $.post("/newJourney", getData(), function(result) {
                if (result) {
                    window.location.replace('/myJourneys');
                } else {
                    document.getElementById('errors').innerHTML = 'Failed to save.';
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                }
            });      
        } else {
            document.getElementById('errors').innerHTML = "Add at least one journey point.";
            $("html, body").animate({ scrollTop: 0 }, "slow");
        }
    }

function initMap(ll) {
    if (ll) {
        myLatlng = ll;
        latlng = ll;
    } else {
        var myLatlng = {lat: 54.895564790773385, lng: 23.8897705078125};
    }
    
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 4,
        center: myLatlng
    });

    if (ll) {
        setMarker(ll);
    }
    
    var marker;

    function unsetMarker() {
        try {
            marker.setMap(null);
        } catch (error) {}
    }
    
    function setMarker(position) {
        unsetMarker();
        marker = new google.maps.Marker({
            position: position,
            map: map,
        });
    }
    
    google.maps.event.addListener(map, "click", function (event) {
        latlng = {
            lat:  event.latLng.lat(),
            lng: event.latLng.lng(),
        }
        setMarker(latlng);
    });
}
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmYJFldptBnUVyZTBfpqxwBHZ2xDJUuaA&callback=initMap">
</script>
</body>
</html>